a {
  color: inherit !important;
  text-decoration: none !important;
}
.navbar-scroll.bg-navbar-dark{
    background-color: black;
}
.navbar-scroll.bg-navbar-light{
    background-color: rgb(#3E96BC);
}
.nav-img {
    width: 50px;
    height: auto; 
    object-fit: cover; 
}

.bg-image{
    height:100vh;
    background: url('../images/Main Juice.png') center bottom;
    background-size:cover;
    position:relative;
    margin: 0;
}


#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.hero-title{
    font-size: 4.5rem;
}
.hero-desc {
    font-size: 2rem;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 2;
}

.image-about-page{
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-image {
    width: 100%; /* Ensure image is responsive */
    height: auto;
}

.card {
    height: 100%; /* Ensure the card stretches to fill the available space */
}

.btn {
    margin-top: auto; /* Ensures the button is at the bottom of the card */
}

.services-image {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* services section css */
.services-text.card {
    height: 320px;
    cursor: pointer;
  }
.services-icon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .services-icon {
    color: #3E96BC;
}
.services-text:hover {
    border: 1px solid #3E96BC;
}

/* social media icons styling */
.fa-whatsapp {
    color: #000000;
}

.fa-instagram {
    color: #000000;
}

.fa-facebook-f {
    color: #000000;
}


/* footer styling */
#contact {
    background-color: #3E96BC;
    text-align: center;
}

.btn-whatsapp {
    color: #000000;
    border-color: #000000;
}
.btn-whatsapp:hover, 
.btn-whatsapp:hover .fab {
    background-color: #25D366;
    color: #ffffff;
}

.btn-instagram {
    color: #000000;
    border-color: #000000;
}
.btn-instagram:hover,
.btn-instagram:hover .fab {
    background-color: #E4405F;
    color: #ffffff;
}

.btn-facebook {
    color: #ffffff;
    border-color: #000000;
}
.btn-facebook:hover,
.btn-facebook:hover .fab {
    background-color: #1877F2;
    color: #ffffff;
}


.logo-image {
    width: 150px; 
    height: auto;
}

.btn-outline{
    --bs-btn-color:#000000;
    --bs-btn-border-color:#000000;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#000000;
    --bs-btn-hover-border-color:#000000;
    --bs-btn-focus-shadow-rgb:13,110,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#000000;
    --bs-btn-active-border-color:#000000;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#000000;
    --bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#000000;
    --bs-gradient:none
}

#contact a:hover  {
    color:#fff !important;
}