:root {
    /* Dark mode colors */
    --primary-bg-dark: #1e1e1e;  /* Dark background */
    --text-color-dark: #f4f4f4;  /* Light text on dark background */
    --accent-color-dark: #FF007F;  /* Accent color for dark mode */
    --button-bg-dark: #FF007F;    /* Button background color */
    --button-hover-dark: #D6006B; /* Button hover color */

    /* Light mode colors */
    --primary-bg-light: #f4f4f4;  /* Light background */
    --text-color-light: #1e1e1e;  /* Dark text on light background */
    --accent-color-light: #0056D2;  /* Accent color for light mode */
    --button-bg-light: #0056D2;   /* Button background color */
    --button-hover-light: #0040A8; /* Button hover color */

    /* Colors */
    --main-color: rgb(62, 150, 188);
    --section-color: #e0e0e0;
    --darken-overlay: rgba(0, 0, 0, 0.7);
    --background-color: #1E5050;
    --link-color: rgb(14, 182, 182);

    /* Gradients */
    --colorful-1: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    --colorful-2: linear-gradient(to right, #D966FF, #44C8FF);

    /* Fonts */
    --cool-fonts: 'Orbitron', sans-serif;
    --normal-fonts: 'Arial', sans-serif;
    --calamity-fonts: "Lacquer", system-ui;
}

* {box-sizing:border-box}

html { scroll-behavior: smooth; }

body {
    font-family: var(--normal-fonts);
    background-color: var(--primary-bg-dark);
    color: var(--text-color-light);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    transition: all 0.5 ease;
}

a { 
	color: #3CF;
    text-decoration: none;
    transition: all 0.3s ease; 
}

/* display background color black on navbar scroll 
.navbar-scroll.bg-navbar-dark {
    background-color: var(--main-color);
}
*/

.navbar-scroll.bg-navbar-light {
    background-color: var(--main-color);
}

.nav-img {
    width: 50px;
    height: 50px;
}

.navbar-brand {
    font-family: var(--normal-fonts);
    font-size: 25px;
}

.nav-link {
    font-family: var(--normal-fonts);
    font-size: 20px;
}
.search{
    transform:translateX(-50px);
    border: none;
}
/* hero background image */
.hero-section {
    position: relative;
    background-image: url('../images/Main_Juice.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--darken-overlay);
    z-index: -1;
}

/* text css above hero image*/
.hero-title {
    justify-self: center;
    position: relative;
    color: var(--section-color);
    font-size: 4.5rem;
    font-family: 'Orbitron', sans-serif;
    background: var(--colorful-1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;   
    background-clip: text;
    z-index: 2;
}

/* about section css */
.about-section {
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;
    font-family: var(--normal-fonts);
    line-height: 1.5;
}   

.carousel-inner {
    display: flex;
}

.carousel-item {
    text-align: center;
    position: block;
    top:0;
    left:0;
    right: 0;
    width: 100vh;
    height: 100%;
}

.carousel-item img {
    width: 85vw;
    height: 72vh;
    border-radius: 15px;
    object-fit: cover;
}

.carousel-item::before {
    content: '';
    position: absolute;
    object-fit: cover;
    width: 85vw;
    height: 72vh;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.carousel-caption {
    z-index:2;
}

.about-section h2 {
    font-family: var(--cool-fonts);
} 


.services-image {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.product-btn {
    display:block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-light);
    border-radius: 10px;
    transition: all 0.3s ease;
}
  
.product-btn:hover {
    background-color: var(--text-color-dark);
    color: #3641da;
}
  
.product-btn:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

/* services section css */
.new_release-text.card {
    height: 280px;
    cursor: pointer;
}

.new_release-icon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .services-icon {
    color: #002480;
}

.new_release-text:hover {
    border: 1px solid #002480;
}

#portfolioContent .card:hover {
    border: 1px solid #002480;
}

#portfolioContent .card-img-top {
    height: 200px;
}

/* Footer Section */
footer {
    background-color: var(--main-color);
    color: var(--text-color-light);
}